.bg-login {
  background: linear-gradient(to right,#0978A6,#FB9447);
  height: 100vh;
}
.contain {
  display: flex;
  height: 100vh; /* Adjust the height as needed */
}

.columnblock {
  flex: 1;
}

.left-half {
  width: 50%;
  float: left;
}

.right-half {
  width: 50%;
  float: right;
}


.logo {
  width: 75%; /* Set the width to 50% of the page */
  display: flex; /* Enable flexbox layout for centering */
  justify-content: center; /* Horizontally center the SVG within the container */
  align-items: center; /* Vertically center the SVG within the container */
  box-sizing: border-box;
  padding: 10%;
}

html {
  overflow-x: hidden;
}
.link-color {
  color: white;
}
